.game-sizes {
    position: relative;
    font-size: 14px;
    display: flex;
    width: 500px;
    flex-direction: column;
    background-color: #312efb;
    align-items: center;
    margin: 0;
    padding: 0;
}

.game-size {
    height: 1.5rem;
    width: 80%;
    align-items: right;
    display: flex;
    list-style: none;
    background-color: #3d3afb;
}

.game-size:hover{
    filter: brightness(5)
}

a { 
    color: inherit; 
    text-decoration: none;
    align-self: center;
} 