.gameBoard {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
    row-gap: .1rem;
    margin: 1rem
}

.tiles {
    display: grid;
    gap: .1rem;
}