.stone.white {
    background-color: white;
    border-radius: 1rem;
    height: 1.9rem;
    width: 1.9rem;
    color: blacl
}

.stone.black {
    background-color: black;
    border-radius: 1rem;
    height: 1.9rem;
    width: 1.9rem;
    color: white
}

.stone.none {
    opacity: 0;
    background-color: black;
    border-radius: 1rem;
    height: 1.9rem;
    width: 1.9rem;
}

.stone {
    font-size: 1.5rem;
    text-align: center;
}