.header{
    font-size: 2.5rem;
    padding: 1rem;
    background-color: red;
    color: #FFFFFF;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.main{
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

